<div class="d-flex align-items-center">
  <h1>Blogs</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to  "新規作成", new_board_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<table class="table table-hover boards__table">
  <tbody>
    <% @boards.each do |board| %>
        <div class="card w-100" style="margin-top: 15px;">
          <div class="card-body">
            <h3 class="card-title" style="padding: 0.25em 0.5em; border-left: solid 5px #7db4e6;"><%= board.title %></h3>
            <p class="card-text"><%= truncate(board.body, length: 80) %></p>
            <%= link_to  "詳細", board, class: 'btn btn-outline-dark ' %>
            <%= link_to  "削除", board, class: 'btn btn-outline-dark', method: :delete %>
            <p class="card-text text-right"><%= board.created_at.to_s(:datetime_jp) %></p>
          </div>
        </div>
    <% end %>
  </tbody>
</table>
<%= paginate @boards %>